@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-slate-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

hr {
  display: block;
  margin-block: 1.5em;
  margin-inline: auto;
  height: 1px;
  border: none;
  background: linear-gradient(to right, transparent, var(--color-slate-400), transparent);
}

@media (prefers-color-scheme: dark) {
  hr {
    display: block;
    margin-block: 1.5em;
    margin-inline: auto;
    height: 1px;
    border: none;
    background: linear-gradient(
      to right,
      transparent,
      var(--color-slate-600),
      transparent
    );
  }
}

input:-webkit-autofill {
  @apply shadow shadow-slate-50 dark:shadow-slate-900  text-slate-900 dark:text-slate-200;
}

input[type="date"] {
  width: 100%;
  width: -webkit-fill-available;
  min-width: 0;
}