# build output
**/dist/

# generated types
**/.astro/
**/drizzle/

# Cloudflare
.mf
.wrangler
**/.wrangler/
.dev.vars*

# dependencies
node_modules/
/node_modules/
*.tsbuildinfo

# logs
*.log*

# environment variables
.env
.env.*
.dev.vars
.dev.vars.*

# macOS-specific files
.DS_Store

# React Router
**/.react-router/
/build/

# Turso dev files
dump.sql
local.db
local.db*

# Roo Ignore
.roo.*.md
.roo.*.mdx
