---
import { default as Layout } from "@/src/layouts/layout.astro"
import { userActivity } from "@/src/lib/query/activity"
import { timeForNextGrade } from "@/src/utils"
import { AddRecord } from "@/rr7/components/component/AddRecord"
import { style } from "@/src/styles/component"
import MonthlyActivityForm from "@/rr7/components/component/MonthlyActivityForm"
import NextGrade from "@/rr7/components/component/NextGrade"
---

<Layout title="きろく">
  <NextGrade client:load />
  <h1 class={style.text.title()}>きろく</h1>
  <hr />
  <h2>追加</h2>

  <AddRecord client:load />
  <hr class="my-6 border-slate-200 dark:border-slate-700" />

  <div class="space-y-4">
    <div class="flex flex-col items-baseline sm:flex-row sm:items-center sm:justify-between gap-2">
      <h2 class="text-xl font-semibold text-slate-900 dark:text-white">今月の稽古履歴</h2>
      <a href="/apps/record/list" class={style.text.link()}> 全ての稽古履歴 &gt;&gt; </a>
    </div>
    <MonthlyActivityForm client:load />
  </div>
</Layout>
