---
import { default as Layout } from "@/src/layouts/auth-layout.astro";

const user = await Astro.locals.currentUser();

if (!user) {
    return Astro.redirect("/sign-in");
}

import { Role } from "@/src/class";
import * as profile from "@/src/lib/query/profile";

const role = (await profile.getRole({ userId: user.id })) ?? Role.MEMBER;

if (Astro.request.method === "POST") {
    let data = await Astro.request.formData();
    let grade = data.get("grade") as unknown as number;
    let getGradeAt = data.get("getGradeAt") as unknown as Date;
    let joinedAt = data.get("year") as unknown as number;
    const result = await profile.updateProfile({
        grade: grade,
        getGradeAt: getGradeAt,
        joinedAt: joinedAt,
        id: user.id,
        year: joinedAt.toString(),
        role: role.toString(),
    });

    if (result instanceof Error) {
        return new Response(result.message, { status: 500 });
    } else {
        return Astro.redirect("/account");
    }
}
---

<Layout title="管理者メニュー">
    <p>現在開発中です。</p>
</Layout>
