---
import { default as Layout } from "@/src/layouts/layout.astro"
import Grid from "@/rr7/components/ui/Grid"
import { AppIcon } from "@/rr7/components/ui/AppIcon"
import { style } from "@/src/styles/component"
import path from "path"

const apps = [
  {
    name: "記録",
    path: "/apps/record",
    desc: "稽古の記録をつける",
  },
]
---

<Layout title="アプリ一覧">
  <h1 class={style.text.title()}>アプリ</h1>
  <Grid variant="offset">
    {apps.map((app) => <AppIcon title={app.name} id={app.path} desc={app.desc} />)}
  </Grid>
</Layout>
