---
import { default as Layout } from "@/src/layouts/auth-layout.astro";
import { Role } from "@/src/class";
import NewsReader from "@/src/components/ui/news-reader.astro";
import Grid from "@/src/components/ui/grid.astro";
import AppIcon from "@/src/components/ui/app-icon.astro";
import { APPS } from "@/src/const";
import ActivityForm from "@/src/components/ui/add-record.astro";
import ActivityFormPh from "@/src/components/ui/add-record-ph.astro";
import { style } from "@/src/styles/component";
import RecentsPh from "@/src/components/ui/recents-ph.astro";
import Recents from "@/src/components/ui/recents.astro";

const profile = Astro.locals.profile;
console.log("profile", profile);
if (!profile) {
    return Astro.redirect("/sign-in");
}
const role = Role.fromString(profile.role);

if (
    role &&
    role.isManagement() &&
    !APPS.some((app) => app.name === "管理者メニュー")
) {
    APPS.push({
        name: "管理者メニュー",
        path: "/admin",
        desc: "管理者メニューに移動します。",
    });
}
---

<Layout title="ダッシュボード">
    <NewsReader content="short" path="news" source="app/news" />
    <hr />
    <h2 class={style.text.title()}>追加</h2>

    <ActivityForm server:defer>
        <ActivityFormPh slot="fallback" />
    </ActivityForm>
    <Recents server:defer>
        <RecentsPh slot="fallback" />
    </Recents>

    <hr />
    <Grid variant="offset">
        {
            APPS.map((app) => (
                <AppIcon title={app.name} id={app.path} desc={app.desc} />
            ))
        }
    </Grid>
</Layout>
