---
import { default as Layout } from "@/src/layouts/auth-layout.astro";
import { getProfile, getRole } from "@/src/lib/query/profile";
import { createActivity, inputActivity } from "@/src/lib/query/activity";
import { Role } from "@/src/class";
import NewsReader from "@/src/components/ui/news-reader.astro";

const user = await Astro.locals.currentUser();

if (!user) {
    return Astro.redirect("/sign-in");
}
const userProfile = await getProfile({ userId: user.id });
if (userProfile instanceof Response) {
    return userProfile;
}

if (Astro.request.method == "POST") {
    let data = await Astro.request.formData();
    let date = data.get("date") as unknown as Date;
    let dataParsed = new Date(date).toISOString().split("T")[0];
    let period = data.get("period") as unknown as number;

    const actData: typeof inputActivity = {
        date: dataParsed,
        id: user.id, // バックエンドで生成するのでなんでもいい
        userId: user.id,
        period: period,
    };
    const result = await createActivity({
        userId: user.id,
        activity: actData,
    });

    if (result instanceof Error) {
        return new Response(result.message, { status: 500 });
    } else {
        return Astro.redirect("/apps/record");
    }
}

import Grid from "@/src/components/ui/grid.astro";
import AppIcon from "@/src/components/ui/app-icon.astro";
import { APPS } from "@/src/const";
const role = await getRole({ userId: user.id }) as Role;


if (role.isManagement() && !APPS.some((app) => app.name === "管理者メニュー")) {
    APPS.push({
        name: "管理者メニュー",
        path: "/admin",
        desc: "管理者メニューに移動します。",
    });
}
---

<Layout title="ダッシュボード">
    <NewsReader content="short" path="news" source="app/news" />
    <hr />
    <h2>追加</h2>

    <AddRecord server:defer />

    <hr />
    <Grid variant="offset">
        {
            APPS.map((app) => (
                <AppIcon title={app.name} id={app.path} desc={app.desc} />
            ))
        }
    </Grid>
</Layout>
