---
import { default as Layout } from "@/src/layouts/non-auth-layout.astro";
import {
    SignedIn,
    SignedOut,
    SignInButton,
    SignUpButton,
} from "@clerk/astro/components";
import { getProfile } from "@/src/lib/query/profile";
const user = await Astro.locals.currentUser();

if (user) {
    const profile = await getProfile({ userId: user.id });
    if (profile instanceof Response) {
        switch (profile.status) {
            case 422:
                return Astro.redirect("/account/recovery");
            case 404:
                return Astro.redirect("/account/setup");
        }
    } else {
        return Astro.redirect("/dashboard");
    }
}
---

<Layout title="活動管理アプリ">
    <h1>大阪公立大学合氣道部 活動管理アプリ</h1>
    <hr />
    <SignedIn>
        <a href="/dashboard">ダッシュボードへ</a>
    </SignedIn>
    <SignedOut>
        <p>ログインする</p>
        <SignInButton />
        <p>
            アカウントをお持ちでない方は、以下のボタンから新規登録してください。
        </p>
        <SignUpButton />
    </SignedOut>
</Layout>
