---
import { Footer } from "@/rr7/components/component/Footer"
import Header from "@/src/components/header.astro"
import { Head } from "@/rr7/components/component/Head"
import "@/src/styles/global.css"

interface Props {
  title: string
}

const homelink = "/dashboard"
const { title } = Astro.props
const paths = Astro.locals.paths
---

<html
  lang="ja"
  class="bg-slate-50 dark:bg-slate-900 text-slate-800 dark:text-slate-200 font-sans scroll-smooth select-none overflow-x-hidden max-w-full"
>
  <Head title={`${title} | ハム大合気ポータル`} />
  <body class="flex-col min-h-dvh">
    <Header title={title} homelink={homelink} textLinks={paths} />
    <div class="p-6 mx-auto max-w-5xl">
      <main class="min-h-[75vh] overflow-y-auto mb-auto">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
