---
import { default as Layout } from "@/src/layouts/auth-layout.astro";
import Grid from "@/src/components/ui/grid.astro";
import AppIcon from "@/src/components/ui/app-icon.astro";
import { style } from "@/src/styles/component";
---

<Layout title="管理画面">
    <h1 class={style.text.title()}>管理画面</h1>
    <Grid variant="offset">
        <AppIcon
            title="ユーザー管理"
            id="/admin/account"
            desc="ユーザーの管理画面"
        />
        <AppIcon
            title="記録管理"
            id="/admin/record"
            desc="記録アプリの管理画面"
        />
    </Grid>
</Layout>
