name: CI

permissions:
  contents: read

on:
  push:
    branches-ignore:
      - main
  pull_request:
    types:
      - opened

jobs:
  ci:
    runs-on: ubuntu-latest
    environment: development
    env:
      VITE_CLERK_PUBLISHABLE_KEY: ${{ secrets.VITE_CLERK_PUBLISHABLE_KEY }}
      CLERK_SECRET_KEY: ${{ secrets.CLERK_SECRET_KEY }}
      CLERK_FRONTEND_API_URL: ${{ secrets.CLERK_FRONTEND_API_URL }}
      CLERK_WEBHOOK_SECRET: ${{ secrets.CLERK_WEBHOOK_SECRET }}
      TURSO_DATABASE_URL: ${{ secrets.TURSO_DATABASE_URL }}
      TURSO_AUTH_TOKEN: ${{ secrets.TURSO_AUTH_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup mise
        uses: jdx/mise-action@v2
        with:
          cache: true

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Generate Env File for Cloudflare Types
        run: |
          touch .env
          echo "VITE_CLERK_PUBLISHABLE_KEY=''" >> .env
          echo "CLERK_SECRET_KEY=''" >> .env
          echo "CLERK_FRONTEND_API_URL=''" >> .env
          echo "CLERK_WEBHOOK_SECRET=''" >> .env
          echo "TURSO_AUTH_TOKEN=''" >> .env
          echo "TURSO_DATABASE_URL=''" >> .env

      - name: Format
        run: pnpm run format

      - name: Lint
        run: pnpm run lint

      - name: Type Generation
        run: pnpm run cf-typegen

      - name: Type Check
        run: pnpm run type-check

      - name: Kinp
        run: pnpm run knip

      - name: Build
        run: pnpm run build-only

      - name: Test
        run: pnpm test run
