name: Deploy Development

permissions:
  contents: read

on:
  pull_request:
    types:
      - opened
      - converted_to_draft
      - synchronize

jobs:
  deploy-development:
    runs-on: ubuntu-latest
    environment: development
    env:
      CLERK_PUBLISHABLE_KEY: ${{ secrets.CLERK_PUBLISHABLE_KEY }}
      CLERK_SECRET_KEY: ${{ secrets.CLERK_SECRET_KEY }}
      CLERK_FRONTEND_API_URL: ${{ secrets.CLERK_FRONTEND_API_URL }}
      TURSO_DATABASE_URL: ${{ secrets.TURSO_DATABASE_URL }}
      TURSO_AUTH_TOKEN: ${{ secrets.TURSO_AUTH_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup mise
        uses: jdx/mise-action@v2

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: mise run build-preview

      - name: conf-check
        run: cat worker-configuration.d.ts

      - name: Deploy Development
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: deploy --config wrangler.preview.jsonc
          secrets: |
            CLERK_PUBLISHABLE_KEY
            CLERK_SECRET_KEY
            CLERK_FRONTEND_API_URL
            TURSO_DATABASE_URL
            TURSO_AUTH_TOKEN
