name: Deploy Production

permissions:
  contents: read

on:
  push:
    branches:
      - "main"

jobs:
  deploy-production:
    runs-on: ubuntu-latest
    environment: production
    env:
      CLERK_PUBLISHABLE_KEY: ${{ secrets.CLERK_PUBLISHABLE_KEY }}
      CLERK_SECRET_KEY: ${{ secrets.CLERK_SECRET_KEY }}
      CLERK_FRONTEND_API_URL: ${{ secrets.CLERK_FRONTEND_API_URL }}
      TURSO_DATABASE_URL: ${{ secrets.TURSO_DATABASE_URL }}
      TURSO_AUTH_TOKEN: ${{ secrets.TURSO_AUTH_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup mise
        uses: jdx/mise-action@v2

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: mise run build-production

      - name: Deploy Production
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: deploy --config wrangler.production.jsonc
          secrets: |
            CLERK_PUBLISHABLE_KEY
            CLERK_SECRET_KEY
            CLERK_FRONTEND_API_URL
            TURSO_DATABASE_URL
            TURSO_AUTH_TOKEN
