name: Playwright Tests

permissions:
  contents: read

on:
  workflow_dispatch:

jobs:
  playwright:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    environment: testing
    services:
      libsql_server:
        image: ghcr.io/tursodatabase/libsql-server
        ports:
          - "8080:8080"

    steps:
      - uses: actions/checkout@v4
      - name: Create .env file
        run: |
          echo "${{ secrets.DOTENV }}" > $GITHUB_WORKSPACE/.env
          echo "${{ secrets.DOTENV }}" > $GITHUB_WORKSPACE/.dev.vars
      - name: Setup mise
        uses: jdx/mise-action@v2
      - name: Get pnpm store directory
        shell: bash
        run: echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV
      - name: Setup pnpm cache
        uses: actions/cache@v4
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: ${{ runner.os }}-pnpm-store-
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Set up LibSQL Server
        run: mise run db-push
      - name: Install Playwright Browsers
        run: mise run playwright-install-ci
      - name: Run Playwright tests
        run: mise run test-e2e-ci
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
