---
// プレースホルダーコンポーネント
---

<div
    class="bg-slate-200 dark:bg-slate-800 border border-slate-600/90 p-4 rounded-lg mt-4 animate-pulse"
>
    <h2 class="text-lg text-[rgb(var(--text))] mb-2 mt-0 flex items-center">
        最近追加した項目:
        <div class="ml-2 h-4 w-32 bg-slate-300 dark:bg-slate-700 rounded"></div>
    </h2>
    <div
        class="flex justify-between text-sm text-slate-600 dark:text-slate-300 md:flex-row flex-col"
    >
        <span class="mr-2 flex items-center">
            追加日時: <div
                class="ml-2 h-4 w-36 bg-slate-300 dark:bg-slate-700 rounded"
            >
            </div>
        </span>
        <span class="mr-2 flex items-center">
            日付: <div
                class="ml-2 h-4 w-24 bg-slate-300 dark:bg-slate-700 rounded"
            >
            </div>
        </span>
        <span class="flex items-center">
            <div class="h-4 w-16 bg-slate-300 dark:bg-slate-700 rounded">
            </div>時間
        </span>
    </div>
</div>
